.hero {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    
    position: relative;
    overflow: clip;   
    background-color: var(--color-loomblue65)
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: 0;
    height: 80vh; /*74vh*/
}

.parallax::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../media/hero-background.svg");
    background-size: cover;
    filter: blur(0.25px);

}

.hero__title {
    width: 100%;
    font-family:Helvetica,  Arial, sans-serif;
    font-weight: 100;
    font-size: var(--size-6xl);
    letter-spacing: -.03em;
    color: var(--color-light);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.hero__subtitle {
    position: relative;
    font-family:Helvetica,  Arial, sans-serif;
    font-size: var(--size-xl);
    letter-spacing: -.03em;
    color: var(--color-light);
    z-index: 2;

}

.bottom-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.bottom-right {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}




/*** media queries below means if > 375px ***/
/*for quick reference*/

/*** media queries below ***/
 
/* @media (min-width: 475px) {}*/

/* small - iPhone SE 375px */
/*@media (min-width: 640px) {}*/

/* medium */
@media (min-width: 768px) {
  
    .parallax {
        height: 80vh; /*74vh*/
    }
    
    .parallax::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("/media/hero-background.svg");
        background-size: cover;
        filter: blur(0.5px);
    }
    
    .hero__title {
        width: 100%;
        font-family:Helvetica,  Arial, sans-serif;
        font-weight: 100;
        font-size: var(--size-7xl);
        letter-spacing: -.03em;
        color: var(--color-light);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
    
    .hero__subtitle-container {
        max-width: 1280px;
        background-color: tomato;
        border: 1px solid purple;
        z-index: 999999;
        color: blue;
        z-index: 2;

    }

    .hero__subtitle {
        position: relative;
        font-family:Helvetica,  Arial, sans-serif;
        font-size: var(--size-xl);
        letter-spacing: -.03em;
        color: var(--color-light);
       
    }
    
    .bottom-left {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    
    .bottom-right {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

/* large */
/*@media (min-width: 1024px) {}*/

/* x-large */
/*@media (min-width: 1280px) {}*/

/* xx-large */
/*@media (min-width: 1536px) {}*/
