.platforms {
    margin-top: 8rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    /* background-color: green; */
}

.platforms__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: top;
    justify-content: start;
    gap: 2%;
     /* background-color: lightcoral; */
    
}

.platforms__title {
    width: 100%;
    padding-bottom: 0.5rem;
    font-size: var(--size-4xl);
    color: var(--color-slate800);

     /* background-color: lightgreen; */

}

.platforms__list-container {
    position: relative;
    width: 100%;
    max-width: 65ch;
    font-style: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: lavender; */

}

.platforms__column {
    width:100%;
    display: flex;
    flex-direction: column;
    /* background-color: lightcyan; */

}

.platforms__channel-title{
    width: 100%;
    border-bottom: 1px solid var(--color-slate400);
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;

    /* background-color: lightgoldenrodyellow; */

}

.platforms__channel-item {
    padding-bottom: 0.25rem;
    font-size: var(--size-lg);
    color: var(--color-slate800);


}


/*** media queries below ***/

/* x-small @media (max-width: 475px)*/

/* small */
@media (min-width: 640px) {
    
    .platforms__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: top;
        justify-content: start;
        gap: 2%;
         /* background-color: lightcoral; */
        
    }
    
    .platforms__title {
        width: 100%;
        font-size: var(--size-4xl);
        /* background-color: lightgreen; */
    
    }
    
    .platforms__list-container {
        position: relative;
        width: 100%;
        max-width: 65ch;
        font-style: bold;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        /* background-color: lavender; */
    
    }

    .platforms__column {
        width:90%;
        display: flex;
        flex-direction: column;
        /* background-color: lightcyan; */

    }
    
    
    .platforms__channel-title{
        width: 100%;
        border-bottom: 1px solid var(--color-slate400);
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
        /* background-color: lightgoldenrodyellow; */
    
    }
    
    .platforms__channel-item {
        padding-bottom: 0.25rem;
        font-size: var(--size-lg);
    }
}

/* medium */
@media (min-width: 769px) {
    .platforms {
        margin-top: 8rem;
        margin-bottom: 0rem;
        padding-bottom: 0rem;
        /* background-color: lightgreen; */
    }
    
    .platforms__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: top;
        justify-content: start;
        gap: 2%;
         /* background-color: lightcoral; */
        
    }
    
    .platforms__title {
        width: 40%;
        font-size: var(--size-4xl);
        
        /* background-color: lightpink; */
    
    }
    
    .platforms__list-container {
        width: 58%;
        max-width: 65ch;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        font-style: bold;
        /* background-color: lightgreen; */

    }

    .platforms__column {
        width:90%;
        display: flex;
        flex-direction: column;
        /* background-color: lightcyan;  */

    }

    .platforms__channel-title{
        width: 100%;
        border-bottom: 1px solid var(--color-slate400);
        padding-top: 0rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
        /* background-color: lightgoldenrodyellow; */

    }

    .platforms__channel-item {
        padding-bottom: 0.25rem;
        font-size: var(--size-base);
    }


}

/* large */
/*@media (min-width: 1024px)*/

/* x-large */
/*@media (min-width: 1280px)*/

/* xx-large */
/*@media (min-width: 1536px)*/